<!DOCTYPE html>
<html>
<head>
  <title>WebArcadium</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link rel="icon" href="http://thewvsr.com/wp-content/uploads/2012/02/lightning-bolt-274x300.png" type="image/x-icon"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
</head>
<body>

<%= yield %>

</body>
</html>
