<%= javascript_include_tag "tic_tac_toe" %>
<%= stylesheet_link_tag "tic_tac_toe" %>

<header id= "nav_bar">
  <%= link_to "Back",root_path %>
  <%= link_to "Play Connect Four", connect_four_game_path %>
</header>


<h1>Tic-Tac-Toe</h1>


<div id="button_wrapper">
  <button type="submit" id="new-game">New Game</button>
</div>

<div id="message">messages will go here</div>

<table id="board">
  <tr>
    <td id = "s1" class="Square">+</td>
    <td id = "s2" class="Square">+</td>
    <td id = "s3" class="Square">+</td>
  </tr>

  <tr>
    <td id = "s4" class="Square">+</td>
    <td id = "s5" class="Square">+</td>
    <td id = "s6" class="Square">+</td>
  </tr>

  <tr>
    <td id = "s7" class="Square">+</td>
    <td id = "s8" class="Square">+</td>
    <td id = "s9" class="Square">+</td>
  </tr>

</table>


<div id="x_win">
  X Number of Wins!
</div>

<div id="o_win">
  O Number of Wins!
</div>
