body {
  margin: 0px;
}

#bg_containter {
  height: 300px;
  background-size: cover;
}

#bg{
  width: 100%;
  height: 800px;
}

#content{
  position:absolute;
  top: 0px;
  padding: 30px;
  color: #FFF;
}

#buttons{
  display: inline-block;
}
